.myprogress_circle {
  width: 220px;
  height: 220px;
  /* background: var(--red_transparent); */
  border-radius: 10px;
  /* background: linear-gradient(var(--light-purple), white, var(--mypurple));
    filter: "blur(18px)";
    -webkit-filter: "blur(8px)"; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.outer {
  /* background-color: var(--red); */
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
  height: 160px;
  width: 160px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner {
  /* background-color: rebeccapurple; */
  height: 120px;
  width: 120px;
  border-radius: 50%;
  box-shadow: inset 8px 8px 6px #cbced1,
    -0.5px -0.5px 0px rgba(255, 255, 255, 1),
    inset -4px -4px 6px rgba(255, 255, 255, 0.7),
    0.5px 0.5px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  /* color: var(--dark-blue); */
  color: #e91e63;
}
#number {
  font-weight: 600;
}
.inner:nth-child(2) {
  color: var(--red);
}
.circle {
  fill: none;
  stroke: url(#GradientColor);

  /* stroke: linear-gradient(var(--light-orange), var(--dark-orange)); */
  stroke-width: 18px;
  stroke-dasharray: 436;
  stroke-dashoffset: 436;
  /* animation: anim33 2s linear forwards; */
}
.myprogress_circle svg {
  position: absolute;
}
.circle.anim0 {
  animation: anim0 2s linear forwards;
}
.circle.anim33 {
  animation: anim33 2s linear forwards;
}
.circle.anim66 {
  animation: anim66 2s linear forwards;
}
.circle.anim100 {
  animation: anim100 2s linear forwards;
}
@keyframes anim0 {
  100% {
    stroke-dashoffset: 430;
  }
}
@keyframes anim33 {
  100% {
    stroke-dashoffset: 290.812;
  }
}
@keyframes anim66 {
  100% {
    stroke-dashoffset: 148.24;
  }
}
@keyframes anim100 {
  100% {
    stroke-dashoffset: 0;
  }
}
